*.iml
.gradle
/build
.idea
local.properties
.DS_Store
*.log
.claude/

# Fonts and other local resources
*CN/
temp_fonts/
scripts/
**/build/
/captures
.externalNativeBuild
.cxx
.nul
.kotlin
bin/
obj/
status.txt
nul

# Gradle and Build
.gradle-user-home/
.gradle/
build/
captures/

# Temporary / Scratch scripts and archives
*.zip
*.py
/test_thumb.png
cairn/
.cairn/
fc/
nav3/
nav3ui/
temp_nav3/
